<div id="container1" class="arrow"></div><!-- <div id="container" class="logo"> --></div
    ><header id="home"><nav>
        <a href="/">Home</a>
        <a href="/aboutme">About Me</a>
        <a href="#Experenice">Experience</a>
        <a href="https://medium.com/@meghamishra04">Blog</a>
        <a href="/posts">Projects</a><a href="#Details">Contact Me</a></nav><h1><span>Megha Mishra</span></h1><p class="kicker">Datascience // Machine Learning // NLP // Vision // Software Development</p></header>