<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="../assets/img/web-design4.png" alt="College"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Graduate Research Assistant, University Of Pennsylvania</h2>
                <p>I am currently working as a Research Assistant at University of Pennsylvania,under Professor Chris Callison-Burch. My project involves constructing a formalized ontology of event types. Given the semantic representations of the event's, we find the similar sentences from an unlabeled-unstructured corpora that describe that event.In collaboration with University of Colorado, we extract the semantic roles and participants for each of those event types, to build this formalized ontology.  All annotations there within will be used for classification and semantic role-labeling tasks. </p>
                <span class="cd-date">May 2020-Present</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

      
    
     
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="../assets/img/college.svg" alt="Picture"/>
                </div><!-- cd-timeline-img-->
                <div class="cd-timeline-content">
                    <h2 class="story-heading">Masters in Science, University Of Pennsylvania, PA,USA </h2>
                    <P>I am a second year Master's in DataScience student at University of Pennsylvania (graduating in Spring 2021). My key coursework includes  Machine Perception, Computer Linguistics, Data Mining, Machine Learning, Statistics for Data Science</P>
                    <span class="cd-date">August 2019- May 2021</span>
                </div>
        <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/web-design4.png" alt="Picture"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>DataScientist | Deloitte | Full-time</h2>
                <p>I was a part of Applied AI team in Deloitte consulting. I have worked on multiple client-facing projects in the domain of Data Science. Most of my projects involved extensive use of core ML techniques and algorithms and expertise in Python and PyTorch.</p>
                <span class="cd-date">August 2018 - August 2019</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <img src="../assets/img/college.svg" alt="Picture"/>
                    </div><!-- cd-timeline-img-->
                    <div class="cd-timeline-content">
                        <h2 class="story-heading">Bachelor of Technology, Vellore Institute of Technology,TN,India</h2>
                        <P>I have done my undergraduate in Computer Science and Engineering. My key-coursework includes Pattern Recognition, AI, Image & Vision Computing, Data Mining & Warehousing, Operations Research, Linear Algebra, Numerical Analysis, Cloud Computing, Database System</P>
                        <span class="cd-date">July 2014- May 2018</span>
                    </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
            </div>
    </section>
    <div class="cd-timeline-header">
                        <h2></h2>
    </div>
</div>