<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="../assets/img/web-design4.png" alt="College"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>RA UPENN</h2>
                <p>pokemon pokemon</p>
                <span class="cd-date">April 2014</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

      
    
     
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <img src="../assets/img/college.svg" alt="Picture"/>
                </div><!-- cd-timeline-img-->
                <div class="cd-timeline-content">
                    <h2 class="story-heading">Masters UPENN </h2>
                    <P>Masters temp blah blah</P>
                    <span class="cd-date">2010-2014</span>
                </div>
        <!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/web-design4.png" alt="Picture"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Data Scientist Deloitte</h2>
                <p>Temp 3 blah blah pokmeon pokemon.</p>
                <span class="cd-date">May 2013 - September 2014</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-picture">
                        <img src="../assets/img/college.svg" alt="Picture"/>
                    </div><!-- cd-timeline-img-->
                    <div class="cd-timeline-content">
                        <h2 class="story-heading">Bachelors VIT Computer Science</h2>
                        <P>Bachelors temp blah blah</P>
                        <span class="cd-date">2010-2014</span>
                    </div>
            <!-- cd-timeline-content--><!-- cd-timeline-block-->
            </div>
    </section>
    <div class="cd-timeline-header">
                        <h2></h2>
    </div>
</div>