---
layout: default
---

{% include header_small.html %}


<section><h2 id="about-me">About Myself</h2><hr class="bar"/><div class="about-lock"><div  class="flip-container"><div class="flipper"><div class="front"><div class="face-img"></div></div><!-- <div class="back"><div class="face1-img"></div></div> --></div></div>
	<!-- <div class="glyph-icon flaticon-cogwheel28"></div> -->
	<!-- <div class="glyph-icon flaticon-computer1"></div> -->
	<!-- <div class="glyph-icon flaticon-hosting"></div> -->
	<!-- <div class="glyph-icon flaticon-computers13"></div> -->
</div>
	<div class="blurb"><p>Hello, I am Megha Mishra, final year Master's in DataScience student at University of Pennsylvania.  </p>
		<p> My bachelor's was in computer science and engineering.  </p>
		
	<p>In my free time, you can see me painting or reading books. Some of my paintings can be seen <a href="/paint" style="color:#2980b9">here</a></p>
	<p> you can contact me from <a href="/#Details" style="color:#2980b9">here</a>
	<!-- <div class="social-links">
		<div align="center">

				<p>
				<a href="https://www.facebook.com/megha.mishra.925">
					<div class="glyph-icon flaticon-facebook3"></div>
				</a><a href="https://www.linkedin.com/in/mmishra04/">
					<div class="glyph-icon flaticon-linkedin"></div></a>
					<a href="https://github.com/meghamishra"><div class="glyph-icon flaticon-github"></div></a>
				</p>
			or mail me at 
		
				<a href="mailto:mmishra@seas.upenn.edu">mmishra@seas.upenn.edu</a>
			
            
		</div>
	</div> -->

	</p>
		 


	
    </div><div class="skill-lock"></div></section>