---
layout: default
---

{% include header_small.html %}



<h2 id="Blog" > Projects</h2>
<hr class="bar-blog"> </hr>
  {% for post in site.categories['blog'] %}
    <div class="post-header">
      <a href="{{post.url}}"><h1 class="post-title">{{ post.title }}</h1></a>
    </div>

    <div class="post-header">
      <!-- <div class="post-wrapper"> -->
        <!-- <article class="post-content"> -->
          <div class = "blurb-blog">
            <p class="post-meta">
            {{post.desc}}
            </p>
          </div>
        <!-- </article>  -->
      <!-- </div>  -->
    </div> 

    <div class="post-header">
      {% if  post.projecturl %}
      <a class="post-meta" href="{{ post.projecturl }}"  style="color:#2980b9"> {{post.proj_detail}} </a>
      {% else %}
      <div class = "blurb-blog">
        <p class="post-meta">
          {{post.proj_detail}}
        </p>
      </div>
     
      {% endif %}
    </div>

    <div class="post-header">
      {% if  post.report %}
      <a class="post-meta" href="{{ post.report }}"  style="color:#2980b9"> Report </a>
      {% endif %}
    </div>

    <div class="post-header">
      <p class="post-meta">{{ post.datemain | date: "%B %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
    </div>


  {% endfor %}
  <hr class="bar-blog"> </hr>
<div class="temp-posts">

</div>
